//шрифти
$font-family-default: 'DM Sans', sans-serif;
$font-family-secondary: 'Heebo', sans-serif;
$font-family-title: 'Arvo', sans-serif;

//базові кольори
$main-color: #02073E;

//базовий шрифт
$base: 16;

