input {
  height: rem(40);
  padding: rem(10) rem(24);
  font-size: rem(16);
  line-height: rem(40);
  color: rgba(2, 7, 62, 0.4);
  border: 1px solid #E9EDF5;
  border-radius: 5px;
  outline:none;
}
